schemas/atom.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:py="http://genshi.edgewall.org/" xml:lang="en">
  
  <xsd:annotation>
    <xsd:documentation>
      atomic configuration types schema for bcfg2
      Narayan Desai, Argonne National Laboratory
    </xsd:documentation>
  </xsd:annotation>

  <xsd:import namespace="http://genshi.edgewall.org/"
              schemaLocation="genshi.xsd"/>

  <xsd:complexType name='StructureEntry'>
    <xsd:attribute type='xsd:string' name='name' use='required'/>
    <xsd:attribute type='xsd:string' name='verify' use='optional'/>
    <xsd:attributeGroup ref="py:genshiAttrs"/>
  </xsd:complexType>

</xsd:schema>
