schemas/bundle.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xml:lang="en">
  
  <xsd:annotation>
    <xsd:documentation>
      bundle schema for bcfg2
      Narayan Desai, Argonne National Laboratory
    </xsd:documentation>
  </xsd:annotation>

  <xsd:complexType name='PackageType'>
    <xsd:attribute type='xsd:string' name='name' use='required'/>
  </xsd:complexType>

  <xsd:complexType name='ConfigFileType'>
    <xsd:attribute type='xsd:string' name='name' use='required'/>
  </xsd:complexType>

  <xsd:complexType name='ServiceType'>
    <xsd:attribute type='xsd:string' name='name' use='required'/>
  </xsd:complexType>

  <xsd:complexType name='DirectoryType'>
    <xsd:attribute type='xsd:string' name='name' use='required'/>
    <xsd:attribute type='xsd:string' name='perms'/>
    <xsd:attribute type='xsd:string' name='owner'/>
    <xsd:attribute type='xsd:string' name='group'/>
  </xsd:complexType>

  <xsd:complexType name='SymLinkType'>
    <xsd:attribute type='xsd:string' name='to'/>
    <xsd:attribute type='xsd:string' name='name'/>
  </xsd:complexType>

  <xsd:complexType name='SystemType'>
    <xsd:choice minOccurs='0' maxOccurs='unbounded'>
      <xsd:element name='Package' type='PackageType'/>
      <xsd:element name='Service' type='ServiceType'/>
      <xsd:element name='ConfigFile' type='ConfigFileType'/>
      <xsd:element name='Directory' type='DirectoryType'/>
      <xsd:element name='SymLink' type='SymLinkType'/>
    </xsd:choice>
    <xsd:attribute type='xsd:string' name='name' use='required'/>
  </xsd:complexType>

  <xsd:element name='Bundle'>
    <xsd:complexType>
      <xsd:choice minOccurs='0' maxOccurs='unbounded'>
	<xsd:element type='SystemType' name='System'/>
	<xsd:element name='Package' type='PackageType'/>
	<xsd:element name='Service' type='ServiceType'/>
	<xsd:element name='ConfigFile' type='ConfigFileType'/>
	<xsd:element name='Directory' type='DirectoryType'/>
	<xsd:element name='SymLink' type='SymLinkType'/>
      </xsd:choice>
      <xsd:attribute type='xsd:string' name='name'/>
      <xsd:attribute type='xsd:string' name='version'/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>