schemas/clients.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xml:lang="en">
  
  <xsd:annotation>
    <xsd:documentation>
      client schema for bcfg2
      Narayan Desai, Argonne National Laboratory
      $Id$
    </xsd:documentation>
  </xsd:annotation>

  <xsd:complexType name='ClientType'>
    <xsd:choice minOccurs='0' maxOccurs='unbounded'>
      <xsd:element name='Alias'>
        <xsd:complexType>
          <xsd:attribute type='xsd:string' name='name' use='required'/>
          <xsd:attribute type='xsd:string' name='address'/>   
        </xsd:complexType>
      </xsd:element>
    </xsd:choice>
    <xsd:attribute type='xsd:string' name='name' use='required'/>
    <xsd:attribute type='xsd:string' name='profile' use='required'/>
    <xsd:attribute type='xsd:string' name='pingable' use='required'/>
    <xsd:attribute type='xsd:string' name='pingtime'/>
    <xsd:attribute type='xsd:string' name='address'/>
  </xsd:complexType>

  <xsd:element name='Clients'>
    <xsd:complexType>
      <xsd:choice minOccurs='0' maxOccurs='unbounded'>
	<xsd:element name='Client' type='ClientType'/>
        <xsd:element name='Clients'>
          <xsd:choice>
            <xsd:element name='Client' type='ClientType'/>
          </xsd:choice>
        </xsd:element>
      </xsd:choice>
      <xsd:attribute name='version' type='xsd:string'/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
