schemas/metadata.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xml:lang="en">
  
  <xsd:annotation>
    <xsd:documentation>
      metadata schema for bcfg2
      Narayan Desai, Argonne National Laboratory
      $Id$
    </xsd:documentation>
  </xsd:annotation>
  
  <xsd:simpleType name='toolsetType'>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="rh|debian|solaris"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name='booleanType'>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="true|false"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name='groupType'>
    <xsd:choice minOccurs='0' maxOccurs='unbounded'>
      <xsd:element name='Bundle'>
	<xsd:complexType>
	  <xsd:attribute type='xsd:string' name='name' use='required'/>
	</xsd:complexType>
      </xsd:element>
      <xsd:element name='Group' type='groupType'/>
    </xsd:choice>
    <xsd:attribute type='booleanType' name='profile' use='optional'/>
    <xsd:attribute type='booleanType' name='public' use='optional'/>
    <xsd:attribute type='xsd:string' name='name' use='required'/>
    <xsd:attribute type='toolsetType' name='toolset' use='optional'/>
    <xsd:attribute type='xsd:string' name='category' use='optional'/>
  </xsd:complexType>
    
  <xsd:element name='Groups'>
    <xsd:complexType>
      <xsd:choice minOccurs='0' maxOccurs='unbounded'>
	<xsd:element name='Group' type='groupType'/>
      </xsd:choice>
      <xsd:attribute name='version' type='xsd:string'/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
