schemas/packages.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xml:lang="en">
  
  <xsd:annotation>
    <xsd:documentation>
      packages config schema for bcfg2
      Narayan Desai, Argonne National Laboratory
    </xsd:documentation>
  </xsd:annotation>

  <xsd:complexType name='SourceType'>
    <xsd:sequence>
      <xsd:element name="Group" type="xsd:string" minOccurs='1' 
                   maxOccurs='unbounded'/>
      <xsd:element name="URL" type="xsd:string" minOccurs='0' 
                   maxOccurs='1'/>
      <xsd:element name="Recommended" type="xsd:string" minOccurs='0' 
                   maxOccurs='1'/>
      <xsd:element name="RawURL" type="xsd:string" minOccurs='0' 
                   maxOccurs='1'/>
      <xsd:element name="Version" type="xsd:string" minOccurs='0'
                   maxOccurs='1'/>
      <xsd:element name="Component" type="xsd:string" minOccurs='0'
                   maxOccurs='unbounded'/>
      <xsd:choice>
        <xsd:element name="Blacklist" type="xsd:string" minOccurs='0'
                     maxOccurs='unbounded'/>
        <xsd:element name="Whitelist" type="xsd:string" minOccurs='0'
                     maxOccurs='unbounded'/>
      </xsd:choice>
      <xsd:element name="Arch" type="xsd:string"  minOccurs='1'
                   maxOccurs='unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name='SourcesType'>
    <xsd:sequence>
      <xsd:element name='Config' minOccurs='0' maxOccurs='1'>
        <xsd:complexType>
        <xsd:attribute type='xsd:string' name='resolver' />
        <xsd:attribute type='xsd:string' name='metadata' />
        </xsd:complexType>
      </xsd:element>

      <xsd:choice minOccurs='1' maxOccurs='unbounded'>
        <xsd:element name='APTSource' type='SourceType'/>
        <xsd:element name='YUMSource' type='SourceType'/>
        <xsd:element name='Sources' type='SourcesType'/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name='Sources' type='SourcesType'/>
</xsd:schema>
