schemas/pathentry.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xml:lang="en">

  <xsd:annotation>
    <xsd:documentation>
      path entry schema for bcfg2
      Narayan Desai, Argonne National Laboratory
      $Id$
    </xsd:documentation>
  </xsd:annotation>

  <xsd:include schemaLocation="types.xsd"/>

  <xsd:complexType name='PathEntry'>
    <xsd:attribute type='xsd:string' name='name' use='required'/>
    <xsd:attribute name='type' use='required' type='PathTypeEnum' />
  </xsd:complexType>
</xsd:schema>
