schemas/pkglist.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xml:lang="en">
  
  <xsd:annotation>
    <xsd:documentation>
      package list schema for bcfg2
      Narayan Desai, Argonne National Laboratory
      $Id$
    </xsd:documentation>
  </xsd:annotation>
  
  <xsd:complexType name='PackageType'>
    <xsd:attribute type='xsd:string' name='name'/>
    <xsd:attribute type='xsd:string' name='version'/>
    <xsd:attribute type='xsd:string' name='file'/>
    <xsd:attribute type='xsd:string' name='verify'/>
    <xsd:attribute type='xsd:string' name='simplefile'/>
  </xsd:complexType>

  <xsd:complexType name='ContainerType'>
    <xsd:choice minOccurs='0' maxOccurs='unbounded'>
      <xsd:element name='Package' type='PackageType'/>
      <xsd:element name='Group' type='ContainerType'/>
      <xsd:element name='Host' type='ContainerType'/>
    </xsd:choice>
    <xsd:attribute name='name' type='xsd:string'/>
  </xsd:complexType>

  <xsd:simpleType name='PackageTypeType'>
    <xsd:restriction base='xsd:string'>
      <xsd:enumeration value='deb' />
      <xsd:enumeration value='rpm' />
      <xsd:enumeration value='encap' />
      <xsd:enumeration value='sysv' />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:element name='PackageList'>
    <xsd:complexType>
      <xsd:choice minOccurs='0' maxOccurs='unbounded'>
	<xsd:element name='Group' type='ContainerType'/>
      </xsd:choice>
      <xsd:attribute name='priority' type='xsd:integer' use='required'/>
      <xsd:attribute name='type' use='optional' type='PackageTypeType' />
      <xsd:attribute name='uri' type='xsd:string' use='optional'/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>