schemas/rules.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xml:lang="en">
  
  <xsd:annotation>
    <xsd:documentation>
      string enumeration definitions for bcfg2
      Narayan Desai, Argonne National Laboratory
      $Id$
    </xsd:documentation>
  </xsd:annotation>

  <xsd:include schemaLocation="pkgtype.xsd"/>
  <xsd:include schemaLocation="servicetype.xsd"/>
  <xsd:include schemaLocation="types.xsd"/>

  <xsd:complexType name='DirectoryType'>
    <xsd:attribute type='xsd:string' name='name' use='required'/>
    <xsd:attribute type='xsd:string' name='perms'/>
    <xsd:attribute type='xsd:string' name='owner'/>
    <xsd:attribute type='xsd:string' name='group'/>
    <xsd:attribute type='xsd:string' name='prune'/>
  </xsd:complexType>

  <xsd:complexType name='ActionType'>
    <xsd:attribute type='ActionTimingEnum' name='timing' use='required'/>
    <xsd:attribute type='ActionWhenEnum' name='when' use='required'/>
    <xsd:attribute type='ActionStatusEnum' name='status' use='required'/>
    <xsd:attribute type='xsd:string' name='name' use='required'/>
    <xsd:attribute type='xsd:string' name='command' use='required'/>
  </xsd:complexType>

  <xsd:complexType name='SymLinkType'>
    <xsd:attribute type='xsd:string' name='name' use='required'/>
    <xsd:attribute type='xsd:string' name='to' use='required'/>
  </xsd:complexType>
  
  <xsd:complexType name='PathType'>
    <xsd:attribute type='PathTypeEnum' name='type' use='required'/>
    <xsd:attribute type='xsd:string' name='name' use='required'/>
    <xsd:attribute type='xsd:string' name='dev_type'/>
    <xsd:attribute type='xsd:string' name='major'/>
    <xsd:attribute type='xsd:string' name='minor'/>
    <xsd:attribute type='xsd:string' name='mode'/>
    <xsd:attribute type='xsd:string' name='perms'/>
    <xsd:attribute type='xsd:string' name='owner'/>
    <xsd:attribute type='xsd:string' name='group'/>
    <xsd:attribute type='xsd:string' name='prune'/>
  </xsd:complexType>

  <xsd:complexType name='PermissionsType'>
    <xsd:attribute type='xsd:string' name='name' use='required'/>
    <xsd:attribute type='xsd:string' name='perms' use='required'/>
    <xsd:attribute type='xsd:string' name='owner' use='required'/>
    <xsd:attribute type='xsd:string' name='group' use='required'/>
  </xsd:complexType>

  <xsd:complexType name='RContainerType'>
     <xsd:choice minOccurs='0' maxOccurs='unbounded'>
      <xsd:element name='Service' type='ServiceType'/>
      <xsd:element name='Directory' type='DirectoryType'/>
      <xsd:element name='SymLink' type='SymLinkType'/>
      <xsd:element name='Package' type='PackageType'/>
      <xsd:element name='Path' type='PathType'/>
      <xsd:element name='Permissions' type='PermissionsType'/>
      <xsd:element name='Action' type='ActionType'/>
      <xsd:element name='Group' type='RContainerType'/>
      <xsd:element name='Client' type='RContainerType'/>
    </xsd:choice>
    <xsd:attribute name='name' type='xsd:string'/>
    <xsd:attribute name='negate' type='xsd:string'/>
  </xsd:complexType>


  <xsd:element name='Rules'>
    <xsd:complexType>
      <xsd:choice minOccurs='0' maxOccurs='unbounded'>
        <xsd:element name='Service' type='ServiceType'/>
        <xsd:element name='Directory' type='DirectoryType'/>
        <xsd:element name='SymLink' type='SymLinkType'/>
        <xsd:element name='Package' type='PackageType'/>
        <xsd:element name='Path' type='PathType'/>
        <xsd:element name='Permissions' type='PermissionsType'/>
        <xsd:element name='Action' type='ActionType'/>
        <xsd:element name='Group' type='RContainerType'/>
        <xsd:element name='Client' type='RContainerType'/>
      </xsd:choice>
      <xsd:attribute name='priority' type='xsd:integer' use='required'/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
