schemas/rules.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xml:lang="en">
  
  <xsd:annotation>
    <xsd:documentation>
      string enumeration definitions for bcfg2
      Narayan Desai, Argonne National Laboratory
      $Id$
    </xsd:documentation>
  </xsd:annotation>

  <xsd:include schemaLocation="servicetype.xsd"/>
  <xsd:include schemaLocation="types.xsd"/>

<xsd:complexType name='PackageType'>
    <xsd:choice minOccurs='0' maxOccurs='unbounded'>
      <xsd:element name='Ignore'>
        <xsd:complexType>
          <xsd:attribute type='xsd:string' name='name'/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='Instance'>
        <xsd:complexType>
          <xsd:choice minOccurs='0' maxOccurs='unbounded'>
            <xsd:element name='Ignore'>
              <xsd:complexType>
                <xsd:attribute type='xsd:string' name='name'/>
              </xsd:complexType>
            </xsd:element>
          </xsd:choice>
          <xsd:attribute name='arch' type='xsd:string'/>
          <xsd:attribute name='epoch' type='xsd:string'/>
          <xsd:attribute name='version' type='xsd:string'/>
          <xsd:attribute name='release' type='xsd:string'/>
          <xsd:attribute name='simplefile' type='xsd:string'/>
          <xsd:attribute name='pkg_verify' type='xsd:string'/>
          <xsd:attribute name='verify_flags' type='xsd:string'/>
          <xsd:attribute name='installed_action' type='xsd:string'/>
          <xsd:attribute name='version_fail_action' type='xsd:string'/>
          <xsd:attribute name='verify_fail_action' type='xsd:string'/>
        </xsd:complexType>
      </xsd:element>
    </xsd:choice>
    <xsd:attribute type='xsd:string' name='name' use='required'/>
    <xsd:attribute type='xsd:string' name='version' use='required'/>
    <xsd:attribute type='xsd:string' name='file'/>
    <xsd:attribute type='xsd:string' name='verify'/>
    <xsd:attribute type='xsd:string' name='simplefile'/>
    <xsd:attribute type='xsd:string' name='reloc'/>
    <xsd:attribute type='xsd:string' name='multiarch'/>
    <xsd:attribute type='xsd:string' name='srcs'/>
    <xsd:attribute type='xsd:string' name='type' use='required'/>
    <xsd:attribute type='xsd:string' name='bname'/>
    <xsd:attribute name='pkg_checks' type='xsd:string'/>
    <xsd:attribute name='verify_flags' type='xsd:string'/>
  </xsd:complexType>

  <xsd:complexType name='ActionType'>
    <xsd:attribute type='ActionTimingEnum' name='timing' use='required'/>
    <xsd:attribute type='ActionWhenEnum' name='when' use='required'/>
    <xsd:attribute type='ActionStatusEnum' name='status' use='required'/>
    <xsd:attribute type='xsd:string' name='name' use='required'/>
    <xsd:attribute type='xsd:string' name='command' use='required'/>
  </xsd:complexType>

  <xsd:complexType name='PathType'>
    <xsd:attribute type='PathTypeEnum' name='type' use='required'/>
    <xsd:attribute type='xsd:string' name='name' use='required'/>
    <xsd:attribute type='xsd:string' name='dev_type'/>
    <xsd:attribute type='xsd:string' name='major'/>
    <xsd:attribute type='xsd:string' name='minor'/>
    <xsd:attribute type='xsd:string' name='mode'/>
    <xsd:attribute type='xsd:string' name='perms'/>
    <xsd:attribute type='xsd:string' name='owner'/>
    <xsd:attribute type='xsd:string' name='group'/>
    <xsd:attribute type='xsd:string' name='prune'/>
    <xsd:attribute type='xsd:string' name='to'/>
  </xsd:complexType>

  <xsd:complexType name='RContainerType'>
     <xsd:choice minOccurs='0' maxOccurs='unbounded'>
      <xsd:element name='Service' type='ServiceType'/>
      <xsd:element name='Package' type='PackageType'/>
      <xsd:element name='Path' type='PathType'/>
      <xsd:element name='Action' type='ActionType'/>
      <xsd:element name='Group' type='RContainerType'/>
      <xsd:element name='Client' type='RContainerType'/>
    </xsd:choice>
    <xsd:attribute name='name' type='xsd:string'/>
    <xsd:attribute name='negate' type='xsd:string'/>
  </xsd:complexType>


  <xsd:element name='Rules'>
    <xsd:complexType>
      <xsd:choice minOccurs='0' maxOccurs='unbounded'>
        <xsd:element name='Service' type='ServiceType'/>
        <xsd:element name='Package' type='PackageType'/>
        <xsd:element name='Path' type='PathType'/>
        <xsd:element name='Action' type='ActionType'/>
        <xsd:element name='Group' type='RContainerType'/>
        <xsd:element name='Client' type='RContainerType'/>
      </xsd:choice>
      <xsd:attribute name='priority' type='xsd:integer' use='required'/>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
